# ===========================
# Dependencies
# ===========================
node_modules/

# ===========================
# Environment Variables
# ===========================
.env
.env.local
.env.development
.env.production
.env.test

# ===========================
# Logs
# ===========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db
desktop.ini

# ===========================
# Editor / IDE
# ===========================
.vscode/
.idea/
*.sw?

# ===========================
# Misc
# ===========================
*.pem
coverage/

# ===========================
# Database
# ===========================
database.sqlite
database.sqlite-journal